<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add Patient Details</h4>
                        <p class="card-category">Complete patient profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            
                            <div class="row">
                                <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First Name" type="text">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Last Name" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Date of Birth" type="date">
                                    </mat-form-field>
                                  </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Sex</mat-label>
                                      <mat-select>
                                        <mat-option value="male">Male</mat-option>
                                        <mat-option value="female">Female</mat-option>                           
                                    
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Address" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Contact Number" type="text">
                                  </mat-form-field>
                                </div>
                                
                                
                            </div>
                           
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Add Patient</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
