<div style="padding-top: 1%">
    <div *ngIf="isMobileMenu();else elseblock">
        <div class="row  ml-0 mr-0" style="padding-top:6%">
            <div class="col  mx-auto">
                <app-colombomap></app-colombomap>
            </div>
        </div>
    </div>
    <ng-template #elseblock>
        <div class="row  ml-0 mr-0">
            <div class="col-md-9" style="padding-left: 3%">
                <app-colombomap></app-colombomap>
            </div>
        </div>
    </ng-template>
</div>
<!-- 

<div *ngIf="isMobileMenu();else elseblock1">
<div class="container-fluid" style="overflow-x: hidden; padding-right: 1%;">
    <div class="col-lg-11">
        <div class="card">

            <div class="card-header card-header-default" style="background-color: #25393b; color:white">
                <h4 class="card-title">Lecturers</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10" style="padding-top: 1%" *ngFor="let user of isLecture()">
                        <div class="card card-profile"
                            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class="card-avatar">
                                <a [routerLink]="['/demo/User-Profile-view']" [queryParams]="{ Email: user.email}"
                                    [skipLocationChange]=true>
                                    <img class="img" style="width:100px;height: 100px;border-radius: 50%;"
                                         [src]="'data:image/png;base64,'+ user.photo"  />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{user.fullname}}</h5>
                                <p class="card-text">{{user.telephone}}<br>
                                    {{user.email}}<br>
                                    {{user.startdate.split('T')[0]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-11">
        <div class="card">

            <div class="card-header card-header-default" style="background-color: #25393b; color:white">
                <h4 class="card-title">Demos</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10" style="padding-top: 3%" *ngFor="let user of isDemo()">
                        <div class="card card-profile"
                            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class="card-avatar">
                                <a [routerLink]="['/demo/User-Profile-view']" [queryParams]="{ Email: user.email}"
                                    [skipLocationChange]=true>
                                    <img class="img" style="width:100px;height: 100px;border-radius: 50%;"
                                        [src]="'data:image/png;base64,'+ user.photo"  />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{user.fullname}}</h5>
                                <p class="card-text">{{user.telephone}}<br>
                                    {{user.email}}<br>
                                    {{user.startdate.split('T')[0]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-11">
        <div class="card">

            <div class="card-header card-header-warning">
                <h4 class="card-title">Admins</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-10" style="padding-top: 3%" *ngFor="let user of isAdmin()">
                        <div class="card card-profile"
                            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class="card-avatar">
                                <a [routerLink]="['/demo/User-Profile-view']" [queryParams]="{ Email: user.email}"
                                    [skipLocationChange]=true>
                                    <img class="img" style="width:100px;height: 100px;border-radius: 50%;"
                                         [src]="'data:image/png;base64,'+ user.photo"  />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{user.fullname}}</h5>
                                <p class="card-text">{{user.telephone}}<br>
                                    {{user.email}}<br>
                                    {{user.startdate.split('T')[0]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<ng-template #elseblock1>
        <div class="container-fluid" style="overflow-x: hidden; padding-right: 1%;">
            <div class="col-lg-11">
                <div class="card">
        
                    <div class="card-header card-header-default" style="background-color: #25393b; color:white">
                        <h4 class="card-title">Lecturers</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3" style="padding-top: 1%" *ngFor="let user of isLecture()">
                                <div class="card card-profile"
                                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                    <div class="card-avatar">
                                        <a [routerLink]="['/demo/User-Profile-view']" [queryParams]="{ Email: user.email}"
                                            [skipLocationChange]=true>
                                            <img class="img" style="width:100px;height: 100px;border-radius: 50%;"
                                                [src]="'data:image/png;base64,'+ user.photo"  />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{user.fullname}}</h5>
                                        <p class="card-text">{{user.telephone}}<br>
                                            {{user.email}}<br>
                                            {{user.startdate.split('T')[0]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-11">
                <div class="card">
        
                    <div class="card-header card-header-default" style="background-color: #25393b; color:white">
                        <h4 class="card-title">Demos</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3" style="padding-top: 1%" *ngFor="let user of isDemo()">
                                <div class="card card-profile"
                                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                    <div class="card-avatar">
                                        <a [routerLink]="['/demo/User-Profile-view']" [queryParams]="{ Email: user.email}"
                                            [skipLocationChange]=true>
                                            <img class="img" style="width:100px;height: 100px;border-radius: 50%;"
                                                [src]="'data:image/png;base64,'+ user.photo"  />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{user.fullname}}</h5>
                                        <p class="card-text">{{user.telephone}}<br>
                                            {{user.email}}<br>
                                            {{user.startdate.split('T')[0]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-11">
                <div class="card">
        
                    <div class="card-header card-header-default" style="background-color: #25393b; color:white">
                        <h4 class="card-title">Admins</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3" style="padding-top: 1%" *ngFor="let user of isAdmin()">
                                <div class="card card-profile"
                                    style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                    <div class="card-avatar">
                                        <a [routerLink]="['/demo/User-Profile-view']" [queryParams]="{ Email: user.email}"
                                            [skipLocationChange]=true>
                                            <img class="img" style="width:100px;height: 100px;border-radius: 50%;"
                                                [src]="'data:image/png;base64,'+ user.photo"  />
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{user.fullname}}</h5>
                                        <p class="card-text">{{user.telephone}}<br>
                                            {{user.email}}<br>
                                            {{user.startdate.split('T')[0]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</ng-template> -->