
<div style="padding-top: 6%">
    <div *ngIf="isMobileMenu();else elseblock">
        <div class="row  ml-0 mr-0" style="padding-top:6%">
            <div class="col  mx-auto">
                <app-colombomap></app-colombomap>
            </div>
        </div>

    </div>'
    <ng-template #elseblock>
        <div class="row  ml-0 mr-0">
            <div class="col-md-8  mx-auto">
                <app-colombomap></app-colombomap>
            </div>
        </div>
    </ng-template>
</div>

<div class="container-fluid" style="overflow-x: hidden; padding-right: 1%;">
          <div class="col-lg-11">
              <div class="card">
                  
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Lecture Stats</h4>
                  </div>
                  <div class="card-body">
                     <div class="row">
                         <div class="col-3" *ngFor="let menuItem of menuItems">
                             <div *ngIf="isLecture(menuItem.type)">
                             <div class="card" style="width: 15rem;">
                                 <img class="card-img-top" src={{menuItem.photo}} alt="Card image cap">
                                 <div class="card-body">
                                     <h5 class="card-title">{{menuItem.name}}</h5>
                                     <p class="card-text">{{menuItem.contactNumber}}<br>
                                     {{menuItem.email}}<br>
                                     {{menuItem.startDate}}</p>
                                     <a href={{menuItem.path}} class="btn btn-primary">{{menuItem.name}} profile</a>
                                 </div>
                             </div>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="col-lg-11">
            <div class="card">

                <div class="card-header card-header-warning">
                    <h4 class="card-title">Demo Stats</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3" *ngFor="let menuItem of menuItems">
                            <div *ngIf="isDemo(menuItem.type)">
                                <div class="card" style="width: 15rem;">
                                    <img class="card-img-top" src={{menuItem.photo}} alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{menuItem.name}}</h5>
                                        <p class="card-text">{{menuItem.contactNumber}}<br>
                                            {{menuItem.email}}<br>
                                            {{menuItem.startDate}}</p>
                                        <a href={{menuItem.path}} class="btn btn-primary">{{menuItem.name}} profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
  </div>

