<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header card-header-pills"
        style="background-color: #25393b; color:white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <h4 class="card-title">Edit Profile</h4>
          <p class="card-category">Complete profile</p>
        </div>
        <div class="card-body">
          <form #useraddForm=ngForm (ngSubmit)="onsubmit()">
            <div class="form-group row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput name="fullname" id="fullname" placeholder="Full Name" type="text"
                    [(ngModel)]="form.fullname" required>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row" >
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput name="firstname" placeholder="Fist Name" type="text" [(ngModel)]="form.firstname"
                    required>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput name="lastname" placeholder="Last Name" type="text" [(ngModel)]="form.lastname"
                    required>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input type="tel" name="nic" id="nic" matInput placeholder="NIC Number" [(ngModel)]="form.nic"
                    required>
                  <span matSuffix>v &nbsp;</span>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>Sex</mat-label>
                  <mat-select name="sex" [(ngModel)]="form.sex">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-8">
                <mat-form-field>
                  <input matInput name="email" placeholder="Enter email" 
                  [(ngModel)]="form.email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Adress" type="text" name="address" [(ngModel)]="form.address">
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <span matPrefix>+94 &nbsp;</span>
                  <input type="tel" matInput placeholder="Telephone" name="telephone" [(ngModel)]="form.telephone">
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input matInput  [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="starting date"
                  name="startdate" [(ngModel)]="form.startdate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-label>User Type</mat-label>
                  <mat-select name="usertype" [(ngModel)]="form.usertype">
                    <mat-option value="lectuer">Lecture</mat-option>
                    <mat-option value="demo">Demo</mat-option>
                    <mat-option value="admin">Admin</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            

            <div class="form-group row">
              <div class="col-sm-10 offset-2">

                <button type="submit" [disabled]="!useraddForm.valid" style="background-color: #e6e9e9; color:black"
                  class="btn pull-right">Add
                  Profile</button>
                  <div class="alert alert-danger" [hidden]="!error">
                    {{error}}
                  </div>



              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="padding-top:2% ;">
      <div class="card card-profile"
        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding-left: 8%;padding-top:20% " >
        
        <img class="img" style="width:90%;height: 90%;border-radius: 50%" [src]="form.photo" *ngIf="form.photo" />
        <div class="upload-btn-wrapper">
          <button class="btn" style="background-color: #e6e9e9; color:black">
            <i class="material-icons"> add_photo_alternate</i>add new Photo
          </button>
          <input #imageInput type="file" accept=".png, .jpg, .jpeg" (change)="picked($event)">
        </div>
      </div>
    </div>
  </div>
</div>
