<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-default" style="background-color: #25393b; color:white">
            <h4 class="card-title">Retrieve Report</h4>
            <p class="card-category">Search report to view, edit and delete </p>
          </div>
          <div class="card-body"> 
              <div class="col-md-4" style="float: none; margin: 0 auto;">
                  <div class="input-group no-border">
                      <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                      </button>
                      <input type="text" class="form-control" placeholder="Enter SRJ No to search..."  [(ngModel)]="srj" (input)="Search()">
                  </div>     
              </div>
              <div class="col-lg-8 col-md-12" style="float: none; margin: 0 auto;">
                  <div class="card">                    
                      <div class="card-body table-responsive">
                          <table class="table table-hover">
                              <thead class="text-default" style="color:black">
                                  <th class="cname">SRJ No</th>
                                  <th class="cname">Deceased Name</th>                                  
                                  <th class="cname">Added By</th>
                                  <th class="cname">Last Editted By</th>
                                  <th class="cname">View Report</th>
                                  <th class="cname">Edit Report</th>
                                  <th class="cname">Delete Report</th>
                                  
                              </thead>
                              <tbody>
                                  <tr *ngFor="let deceased of reports">
                                    <td class="text-dark">{{deceased["srjno"]}}</td>
                                    <td>{{deceased["fullname"]}}</td>
                                    <td class="text-dark">{{deceased["addingby"]}}</td>
                                    <td>{{deceased["lasteditby"]}}</td>
                                    <td><button mat-raised-button (click)="onview(deceased['srjno'])" type="submit"style="background-color: #e6e9e9; color:black"
                                      class="btn btn-default"><i class="material-icons">view_list</i> View</button></td>
                                    <td><button mat-raised-button (click)="onedit(deceased['srjno'])" type="submit" style="background-color: #e6e9e9; color:black"
                                        class="btn btn-default"><i class="material-icons">edit </i> Edit</button></td>
                                    <td><button mat-raised-button (click)="ondelete(deceased['srjno'])" type="submit" style="background-color: #e6e9e9; color:black"
                                      class="btn btn-default"><i class="material-icons">delete </i> Delete</button></td>
                                    
                                  </tr>
                                </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  