.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn2 {
    border: 2px solid black;
    color: black;
    background-color: rgb(100, 127, 247);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}