<div *ngIf="isMobileMenu();else elseblock">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" style="padding-top:2% ;">
          <div class="card card-profile"
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="padding-top: 3%;padding-bottom: 3%">
              <img class="img" style="width:90%;height: 90%;border-radius: 50%;"
                [src]="'data:image/png;base64,'+ form.photo" *ngIf="form.photo" />
            </div>
            <div class="upload-btn-wrapper">
              <button class="btn btn-danger">
                <i class="material-icons"> add_photo_alternate</i>add new Photo
              </button>
              <input #imageInput type="file" accept="image/*" (change)="picked($event)">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{form.fullname}}</h5>
              <p class="card-text">0{{form.telephone}}<br>
                {{form.email}}<br>
                Stat Date : {{startdate}}</p>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-8">
          <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-header card-header-default" style="background-color: #25393b; color:white"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete profile</p>
            </div>
            <div class="card-body">
              <form #userupdateForm=ngForm (ngSubmit)="onsubmit()">
                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput name="fullname" id="fullname" placeholder="Full Name" type="text"
                        [(ngModel)]="form.fullname" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="firstname" placeholder="Fist Name" type="text" [(ngModel)]="form.firstname"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="lastname" placeholder="Last Name" type="text" [(ngModel)]="form.lastname"
                        required>
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Sex</mat-label>
                      <mat-select name="sex" [(ngModel)]="form.sex">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-8">
                    <mat-form-field>
                      <input matInput name="email" placeholder="Enter email" 
                        [(ngModel)]="form.email" required>
                      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Adress" type="text" name="address" [(ngModel)]="form.address">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <span matPrefix>+94 &nbsp;</span>
                      <input type="tel" matInput placeholder="Telephone" name="telephone" [(ngModel)]="form.telephone">
                      <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10 offset-2">

                    <button type="submit" [disabled]="!userupdateForm.valid" 
                      class="btn btn-danger pull-right">Update
                      Profile</button>
                    <div class="alert alert-danger" [hidden]="!error">
                      {{error}}
                    </div>


                   
                  </div>
                </div>

              </form>
              <span>you are adding by {{form.addingby}} and last edit by {{editby}}</span>
            </div>
          </div>
        </div>
    </div>
</div>

<ng-template #elseblock>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-header card-header-default" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color: #25393b; color:white">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete profile</p>
            </div>
            <div class="card-body">
              <form #userupdateForm=ngForm (ngSubmit)="onsubmit()">
                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput name="fullname" id="fullname"  placeholder="Full Name" type="text"
                        [(ngModel)]="form.fullname" required>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="firstname" placeholder="Fist Name" type="text" [(ngModel)]="form.firstname"
                        required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput name="lastname" placeholder="Last Name" type="text" [(ngModel)]="form.lastname"
                        required>
                    </mat-form-field>
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Sex</mat-label>
                      <mat-select name="sex" [(ngModel)]="form.sex">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-8">
                    <mat-form-field>
                      <input matInput name="email" placeholder="Enter email" 
                        [(ngModel)]="form.email" required>
                      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Adress" type="text"  name="address"
                        [(ngModel)]="form.address">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <span matPrefix>+94 &nbsp;</span>
                      <input type="tel" matInput placeholder="Telephone" name="telephone"
                        [(ngModel)]="form.telephone">
                      <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10 offset-2">

                    <button type="submit" [disabled]="!userupdateForm.valid" 
                      class="btn btn-default pull-right"    style="background-color: #e6e9e9; color:black">Update
                      Profile</button>
                    <div class="alert alert-danger" [hidden]="!error">
                      {{error}}
                    </div>



                  </div>
                </div>

              </form>
              <div style="padding-bottom: 0.5%;padding-left: 5%;">
                <span>This user is adding by {{form.addingby}} and last edit by {{editby}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding-top:2% ;">
          <div class="card card-profile"
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="padding-top: 3%;padding-bottom: 3%">
              <img class="img" style="width:90%;height: 90%;border-radius: 50%;"
                [src]="'data:image/png;base64,'+ form.photo" *ngIf="form.photo" />
            </div>
            <div class="upload-btn-wrapper">
              <button class="btn btn-default"  style="background-color: #e6e9e9; color:black" >
                <i class="material-icons"> add_photo_alternate</i>add new Photo
              </button>
              <input #imageInput type="file" accept="image/*" (change)="picked($event)">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{form.fullname}}</h5>
              <p class="card-text">0{{form.telephone}}<br>
                {{form.email}}<br>
                Stat Date : {{startdate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-template>

