<div *ngIf="isMobileMenu();else elseblock">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" style="padding-top:2% ;">
          <div class="card card-profile"
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-avatar">
              <img class="img" style="width:100px;height: 100px;border-radius: 50%;" src="./assets/img/cover.jpeg" />
            </div>
            <div class="card-body">
              <h5 class="card-title">tharindu vindula</h5>
              <p class="card-text">0717615678<br>
                tharinduvindula@gmail.com<br>
                2019/04/20</p>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-8">
          <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-header card-header-danger"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete profile</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Full Name" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fist Name" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Last Name" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Sex</mat-label>
                      <mat-select>
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field>
                      <input matInput placeholder="Enter email" [formControl]="email" required>
                      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Adress" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <span matPrefix>+94 &nbsp;</span>
                      <input type="tel" matInput placeholder="Telephone">
                      <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update
                  Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
    </div>
</div>

<ng-template #elseblock>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-header card-header-danger"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <h4 class="card-title">Edit Profile</h4>
              <p class="card-category">Complete profile</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Full Name" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fist Name" type="text">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Last Name" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Sex</mat-label>
                      <mat-select>
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field>
                      <input matInput placeholder="Enter email" [formControl]="email" required>
                      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Adress" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <span matPrefix>+94 &nbsp;</span>
                      <input type="tel" matInput placeholder="Telephone">
                      <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update
                  Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding-top:2% ;">
          <div class="card card-profile"
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-avatar">
              <img class="img" style="width:100px;height: 100px;border-radius: 50%;" src="./assets/img/cover.jpeg" />
            </div>
            <div class="card-body">
              <h5 class="card-title">tharindu vindula</h5>
              <p class="card-text">0717615678<br>
                tharinduvindula@gmail.com<br>
                2019/04/20</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-template>

