<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">View Report</h4>
              <p class="card-category">Report of the deceased</p>
          </div>
          <div class="card-body">
            
              <div class="row">
                  <div class="col-md-2">
                    <label class="lbl">SRJ No:</label> 310290
                    </div>
                    <div class="col-md-4">
                        <label  class="lbl">Deceased Full Name:</label> Geesa Daluwatumulle
                      </div>
                      <div class="col-md-3">
                          <label  class="lbl">Post Mortem Date:</label> 12/03/2019
                        </div>
                        <div class="col-md-3">
                            <label  class="lbl">Post Mortem Time:</label> 12:30
                          </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label  class="lbl">Police Full Name:</label> Geesa Vihara Daluwatumulle
                    </div>
                    <div class="col-md-2">
                        <label  class="lbl">Tag Number:</label> GV2890
                      </div>
                      <div class="col-md-3">
                          <label  class="lbl">Scene Photographs:</label> Yes
                        </div>
                        <div class="col-md-3">
                            <label  class="lbl">Folder Name:</label> Local Disk C
                          </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label  class="lbl">Order Given By:</label> Magistrate
                    </div>
                    <div class="col-md-4">
                        <label  class="lbl">Full Name:</label> Geesa Vihara Daluwatumulle
                      </div>
                      <div class="col-md-4">
                          <label  class="lbl">Area:</label> Mount Lavinia
                        </div>
                       
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label  class="lbl">Cause of Death:</label> 
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <ul type="upper-roman">
                        <li></li>
                        <ul type="lower-alpha">
                          <li>Geesa Vihara Daluwatumulle</li>
                          <li>Geesa Vihara Daluwatumulle</li>
                          <li>Geesa Vihara Daluwatumulle</li>
                        </ul>
                        <li>
                            <div class="row">
                                <label class="lbl">Contributory Causes:</label> Geesa Vihara Daluwatumulle
                              </div>

                        </li>                        
                      </ul>  
                                    
                          <div class="row">
                              <label class="lbl">Other Comments:</label> Geesa Vihara Daluwatumulle
                            </div>
                          <div class="row">
                            <label class="lbl">Generalized Cause of Death:</label> Geesa Vihara Daluwatumulle
                          </div>
                          <div class="row">
                            <label class="lbl">Circumstance:</label> Geesa Vihara Daluwatumulle
                          </div>
                            
                             
                    </div>                             
                                       
              </div>
                
              
              <div class="col-md-12">
                  <div class="card-header card-header-danger">
                    <h5><b>Government Analyst</b></h5>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label  class="lbl">CT Number:</label> 328908
                    </div> 
                    <div class="col-md-4">
                        <label  class="lbl">Sample Deliver Date:</label> 02/12/2019
                      </div>    
                      <div class="col-md-4">
                          <label  class="lbl">Sample Deliver Time:</label> 04:45
                        </div>                        
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <h6 class="specs2"><b>List of Specimens</b></h6>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <ul type="square">
                          <li>Blood</li>
                          <li>Brain</li>
                          <li>Liver</li>
                        </ul> 
                    </div>                     
              </div>
              
              <div class="col-md-12">
                  <div class="card-header card-header-danger">
                    <h5><b>MRI</b></h5>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label  class="lbl">Reference Number:</label> 328908
                    </div> 
                    <div class="col-md-4">
                        <label  class="lbl">Sample Deliver Date:</label> 02/12/2019
                      </div>    
                      <div class="col-md-4">
                          <label  class="lbl">Sample Deliver Time:</label> 04:45
                        </div>                        
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <h6 class="specs2"><b>List of Specimens</b></h6>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <ul type="square">
                          <li>Blood</li>
                          <li>Brain</li>
                          <li>Liver</li>
                        </ul> 
                    </div>                     
              </div>
              <div class="col-md-12">
                  <div class="card-header card-header-danger">
                    <h5><b>Other</b></h5>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label  class="lbl">Reference Number:</label> 328908
                    </div> 
                    <div class="col-md-4">
                        <label  class="lbl">Sample Deliver Date:</label> 02/12/2019
                      </div>    
                      <div class="col-md-4">
                          <label  class="lbl">Sample Deliver Time:</label> 04:45
                        </div>                        
              </div>
              <div class="row">
                  <div class="col-md-4">
                    <h6 class="specs2"><b>List of Specimens</b></h6>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <ul type="square">
                          <li>Blood</li>
                          <li>Brain</li>
                          <li>Liver</li>
                        </ul> 
                    </div>                     
              </div>
          </div>
        </div>
      </div>
    </div>
</div>