<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">New Report</h4>
              <p class="card-category">Complete new report</p>
          </div>
          <div class="card-body">
            
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Add Patient Details</ng-template>
                    <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="First Name" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" type="text">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Date of Birth" type="date">
                            </mat-form-field>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Sex</mat-label>
                              <mat-select>
                                <mat-option value="male">Male</mat-option>
                                <mat-option value="female">Female</mat-option>                           
                            
                              </mat-select>
                            </mat-form-field>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Address" type="text">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Contact Number" type="text">
                          </mat-form-field>
                        </div>
                        
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Police and Coroner Details</ng-template>
                    <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="First Name" type="text">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" type="text">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Tag Number" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <mat-label>Rank</mat-label>
                              <mat-select>
                                <mat-option value="igp">IGP</mat-option>
                                <mat-option value="sdig">SDIG</mat-option>                           
                                <mat-option value="sdig">SSP</mat-option>  
                                <mat-option value="sdig">SP</mat-option>  
                                <mat-option value="sdig">ASP</mat-option>  
                                <mat-option value="sdig">CI</mat-option>  
                                <mat-option value="sdig">IP</mat-option>  
                                <mat-option value="sdig">SI</mat-option>  
                                <mat-option value="sdig">PSM</mat-option>  
                                <mat-option value="sdig">PS</mat-option>  
                                <mat-option value="sdig">PC</mat-option>  
                              </mat-select>
                            </mat-form-field>
                          </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Phone Number" type="text">
                          </mat-form-field>
                        </div>                           
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <mat-label>Scene Photographs</mat-label>
                            <div class="col-md-3">
                              <mat-radio-group >                                          
                                  <mat-radio-button value="yes">Yes</mat-radio-button>
                                  <mat-radio-button value="no">No</mat-radio-button>  
                              </mat-radio-group> 
                            </div>                                     
                            
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Folder Name" type="text">
                          </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="row">
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                      <ng-template matStepLabel>Cause of Death Report</ng-template>
                      
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                      <ng-template matStepLabel>Samples Details</ng-template>
                      
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <ng-template matStepLabel>Done</ng-template>
                  
                  <div class="row">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>   