<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-default" style="background-color: #25393b; color:white">
          <h4 class="card-title">New Report</h4>
          <p class="card-category">Complete new report</p>
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-md-3">
                <div *ngIf="submitted && errors['overall']" class="alert alert-danger">
                    Oops something went wrong!
                </div>
              </div>
          </div>
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form name="firform" #firstFormGroup=ngForm>
                <ng-template matStepLabel>Deceased Details</ng-template>   
                <div class="row"> 
                    <div class="col-md-3">
                        <div *ngIf="srjno1.invalid && (srjno1.dirty || srjno1.touched)" class="alert alert-danger">
                          <div *ngIf="srjno1.errors.required">
                            SRJ No is required.
                          </div>
                        </div>                            
                    </div>                               
                </div>
                <div class="row">
                  <div class="col-md-3">                    
                      <div *ngIf="submitted && errors['srjdup']" class="alert alert-danger">
                          SRJ no already exists.
                      </div>
                  </div>
                </div>              
                <div class="row">                     
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="SRJ No" name="srjno"type="text" [(ngModel)]="form.srjno" required srjdup #srjno1="ngModel">                      
                    </mat-form-field>
                  </div>                  
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="pmdate1.invalid && (pmdate1.dirty || pmdate1.touched) " class="alert alert-danger">
                            <div *ngIf="pmdate1.errors.required">
                                Post Mortem Date is required.
                            </div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div *ngIf="pmtime1.invalid && (pmtime1.dirty || pmtime1.touched)" class="alert alert-danger">
                            <div *ngIf="pmtime1.errors.required">
                                Post Mortem Time is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Post Mortem Date" name="pmdate" type="date" [(ngModel)]="form.pmdate" required  #pmdate1="ngModel">
                    </mat-form-field>
                  </div>                  
                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Post Mortem Time" name="pmtime" type="time" [(ngModel)]="form.pmtime" required #pmtime1="ngModel">
                      <mat-hint>Hint: Press 'A' for AM and 'P' for PM for the last two digits </mat-hint>
                    </mat-form-field>
                  </div>                  
                  
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="fullname1.invalid && (fullname1.dirty || fullname1.touched)" class="alert alert-danger">
                            <div *ngIf="fullname1.errors.required">
                                Full Name is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Full Name" name="fullname" type="text" [(ngModel)]="form.fullname" required #fullname1="ngModel">
                    </mat-form-field>
                  </div>
                  
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="age1.invalid && (age1.dirty || age1.touched)" class="alert alert-danger">
                            <div *ngIf="age1.errors.required">
                                Age is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Age" name="age" type="text" [(ngModel)]="form.age" required #age1="ngModel">
                    </mat-form-field>
                  </div>
                  
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="sex1.invalid && (sex1.dirty || sex1.touched)" class="alert alert-danger">
                            <div *ngIf="sex1.errors.required">
                                Sex is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Sex</mat-label>
                      <mat-select [(ngModel)]="form.sex" name ="sex" required #sex1="ngModel">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="address1.invalid && (address1.dirty || address1.touched)" class="alert alert-danger">
                            <div *ngIf="address1.errors.required">
                                Address is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Address" name = "address" type="text" [(ngModel)]="form.address" required #address1="ngModel">
                    </mat-form-field>
                  </div>
                  
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="contactnumber1.invalid && (contactnumber1.dirty || contactnumber1.touched)" class="alert alert-danger">
                            <div *ngIf="contactnumber1.errors.required">
                                Contact Number is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Contact Number" name= "contactnumber" type="text" [(ngModel)]="form.contactnumber" required #contactnumber1="ngModel">
                    </mat-form-field>
                  </div>
                  
                </div>
                <div class="clearfix"></div>
                
                <div class="row">
                  <button mat-button matStepperNext class="btn btn-default" style="background-color: #e6e9e9; color:black">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form name="seform" #secondFormGroup=ngForm>
                <ng-template matStepLabel>Police Details</ng-template>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="policefullname1.invalid && (policefullname1.dirty || policefullname1.touched)" class="alert alert-danger">
                            <div *ngIf="policefullname1.errors.required">
                                Full Name is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Full Name" name="policefullname"type="text" [(ngModel)]="form.policefullname" required #policefullname1="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="policetagno1.invalid && (policetagno1.dirty || policetagno1.touched)" class="alert alert-danger">
                            <div *ngIf="policetagno1.errors.required">
                                Tag Number is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                 
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Tag Number" name="policetagno" type="text"[(ngModel)]="form.policetagno" required #policetagno1="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="policearea1.invalid && (policearea1.dirty || policearea1.touched)" class="alert alert-danger">
                            <div *ngIf="policearea1.errors.required">
                                Area is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Area</mat-label>
                      <mat-select name="policearea" [(ngModel)]="form.policearea" required #policearea1="ngModel">
                        <mat-option *ngFor="let area of areas" [value]="area.value">
                          {{area.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="policerank1.invalid && (policerank1.dirty || policerank1.touched)" class="alert alert-danger">
                            <div *ngIf="policerank1.errors.required">
                                Rank is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Rank</mat-label>
                      <mat-select name="policerank" [(ngModel)]="form.policerank" required #policerank1="ngModel">
                        <mat-option value="igp">IGP</mat-option>
                        <mat-option value="sdig">SDIG</mat-option>
                        <mat-option value="sdig">SSP</mat-option>
                        <mat-option value="sdig">SP</mat-option>
                        <mat-option value="sdig">ASP</mat-option>
                        <mat-option value="sdig">CI</mat-option>
                        <mat-option value="sdig">IP</mat-option>
                        <mat-option value="sdig">SI</mat-option>
                        <mat-option value="sdig">PSM</mat-option>
                        <mat-option value="sdig">PS</mat-option>
                        <mat-option value="sdig">PC</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="policephoneno1.invalid && (policephoneno1.dirty || policephoneno1.touched)" class="alert alert-danger">
                            <div *ngIf="policephoneno1.errors.required">
                                Phone Number is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Phone Number" type="text" name="policephoneno" [(ngModel)]="form.policephoneno" required #policephoneno1="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="policescenephoto1.invalid && (policescenephoto1.dirty || policescenephoto1.touched)" class="alert alert-danger">
                            <div *ngIf="policescenephoto1.errors.required">
                                Scene Photographs is required.
                            </div>
                          </div> 
                    </div>
                </div>
                <div class="row">                  
                  
                  <div class="col-md-3">
                    <mat-label>Scene Photographs</mat-label>
                    <div class="col-md-3">                        
                      <mat-radio-group name="policescenephoto"[(ngModel)]="form.policescenephoto" #policescenephoto1="ngModel" required>
                        <mat-radio-button  value="yes" [disableRipple]="true">Yes</mat-radio-button>
                        <mat-radio-button  value="no" [disableRipple]="true">No</mat-radio-button>
                      </mat-radio-group>                     
                    </div>                    
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="policefoldername1.invalid && (policefoldername1.dirty || policefoldername1.touched)" class="alert alert-danger">
                            <div *ngIf="policefoldername1.errors.required">
                                Folder Name is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Folder Name" type="text" name="policefoldername" [(ngModel)]="form.policefoldername" required #policefoldername1="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <button mat-button matStepperPrevious class="btn btn-default " style="background-color: #e6e9e9; color:black">Back</button>
                  <button mat-button matStepperNext class="btn btn-default " style="background-color: #e6e9e9; color:black">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <form name="thform" #thirdFormGroup=ngForm>
                <ng-template matStepLabel>Order Given By</ng-template>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="coronerfullname1.invalid && (coronerfullname1.dirty || coronerfullname1.touched)" class="alert alert-danger">
                            <div *ngIf="coronerfullname1.errors.required">
                                Full Name is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Full Name" type="text" name="coronerfullname" [(ngModel)]="form.coronerfullname" required #coronerfullname1="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="coronerarea1.invalid && (coronerarea1.dirty || coronerarea1.touched)" class="alert alert-danger">
                            <div *ngIf="coronerarea1.errors.required">
                                Area is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                 
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Area" type="text" name="coronerarea" [(ngModel)]="form.coronerarea" required #coronerarea1="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="coronerorder1.invalid && (coronerorder1.dirty || coronerorder1.touched)" class="alert alert-danger">
                            <div *ngIf="coronerorder1.errors.required">
                                Order given by is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-3">
                    <mat-label>Order given by</mat-label>
                    <div class="col-md-3">
                      <mat-radio-group name="coronerorder" [(ngModel)]="form.coronerordergivenby" required #coronerorder1="ngModel">
                        <mat-radio-button  value="Coroner" [disableRipple]="true">Coroner</mat-radio-button>
                        <mat-radio-button  value="Magistrate" [disableRipple]="true">Magistrate</mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <button mat-button matStepperPrevious class="btn btn-default " style="background-color: #e6e9e9; color:black">Back</button>
                  <button mat-button matStepperNext class="btn btn-default " style="background-color: #e6e9e9; color:black">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup">
              <form name="foform" #fourthFormGroup=ngForm>
                <ng-template matStepLabel>Cause of Death</ng-template>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="a1.invalid && (a1.dirty || a1.touched)" class="alert alert-danger">
                            <div *ngIf="a1.errors.required">
                                (a) is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="b1.invalid && (b1.dirty || b1.touched)" class="alert alert-danger">
                            <div *ngIf="b1.errors.required">
                                (b) is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="c1.invalid && (c1.dirty || c1.touched)" class="alert alert-danger">
                            <div *ngIf="c1.errors.required">
                                (c) is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <h4><b>I</b></h4>
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="(a)" name="a" type="text" [(ngModel)]="form.a" required #a1="ngModel">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="(b)" name="b" type="text" [(ngModel)]="form.b" required #b1="ngModel">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="(c)" name="c" type="text" [(ngModel)]="form.c" required #c1="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="contributory_cause1.invalid && (contributory_cause1.dirty || contributory_cause1.touched)" class="alert alert-danger">
                            <div *ngIf="contributory_cause1.errors.required">
                                Contributory Causes is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <h5><b>II</b></h5>
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Contributory Causes" name="contributory_cause" type="text" [(ngModel)]="form.contributory_cause" required #contributory_cause1="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="other_comments1.invalid && (other_comments1.dirty || other_comments1.touched)" class="alert alert-danger">
                            <div *ngIf="other_comments1.errors.required">
                                Other Comments is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                      <input matInput placeholder="Other Comments" name="other_comments" type="text" [(ngModel)]="form.other_comments" required #other_comments1="ngModel">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div *ngIf="gcodControl1.invalid && (gcodControl1.dirty || gcodControl1.touched)" class="alert alert-danger">
                            <div *ngIf="gcodControl1.errors.required">
                                Generalized Cause of Death is required.
                            </div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div *ngIf="circumstances1.invalid && (circumstances1.dirty || circumstances1.touched)" class="alert alert-danger">
                            <div *ngIf="circumstances1.errors.required">
                                Circumstances is required.
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                  
                  <div class="col-md-4">
                    <mat-form-field >
                      <mat-label>Generalized Cause of Death</mat-label>
                      <mat-select name="gcodControl" [(ngModel)]="form.cod" required #gcodControl1="ngModel">
                        <mat-option>-- None --</mat-option>
                        <mat-optgroup *ngFor="let group of gcodGroups" [label]="group.name" [disabled]="group.disabled">
                          <mat-option *ngFor="let gcod of group.gcod" [value]="gcod.value">
                            {{gcod.viewValue}}
                          </mat-option>
                        </mat-optgroup>
                      </mat-select>
                    </mat-form-field>
                  </div>                  
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width" >
                        <mat-label>Circumstances</mat-label>
                        <mat-select [(ngModel)]="form.circumstances" name="circumstances" required #circumstances1="ngModel">
                          <mat-option value="accidental">Accidental</mat-option>
                          <mat-option value="natural">Natural</mat-option>
                          <mat-option value="suicidal">Suicidal</mat-option>
                          <mat-option value="homicidal">Homicidal</mat-option>
                          <mat-option value="unacertained">Unacertained</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <button mat-button matStepperPrevious class="btn btn-default " style="background-color: #e6e9e9; color:black">Back</button>
                  <button mat-button matStepperNext class="btn btn-default " style="background-color: #e6e9e9; color:black">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup">
              <form name="fiform" #fifthFormGroup=ngForm (ngSubmit)="onsubmit()" novalidate>
                <ng-template matStepLabel>Samples Collected</ng-template>
                <div class="row">
                  <div class="col-md-12">
                    <h3><b>Government Analyst</b></h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="gactnumber1.invalid && (gactnumber1.dirty || gactnumber1.touched)" class="alert alert-danger">
                                <div *ngIf="gactnumber1.errors.required">
                                    CT Number is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="CT Number" name="gactnumber" type="text" [(ngModel)]="form.gactnumber" required #gactnumber1="ngModel">
                        </mat-form-field>
                      </div>
                    </div>
                    <h5><b>List of Specimens</b></h5>
                    <p>
                      Number of specimens submitted: {{specimen1.selectedOptions.selected.length}}
                    </p>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="selectedOptions11.invalid && (selectedOptions11.dirty || selectedOptions11.touched)" class="alert alert-danger">
                                <div *ngIf="selectedOptions11.errors.required">
                                    A specimen is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    
                    <mat-selection-list name="selectedOptions1" #specimen1 [(ngModel)]="selectedOptions1" (ngModelChange)="onNgModelChange($event)" required #selectedOptions11="ngModel">
                      <div class="row">                          
                        <div class="col-md-4">
                          <mat-list-option *ngFor="let ga of sp1" [value]="ga.name">{{ga.name}}</mat-list-option>
                        </div>
                        <div class="col-md-4">
                          <mat-list-option *ngFor="let ga of sp2" [value]="ga.name">{{ga.name}}</mat-list-option>
                        </div>
                        <div class="col-md-4">
                          <mat-list-option *ngFor="let ga of sp3" [value]="ga.name">{{ga.name}}</mat-list-option>
                        </div>
                      </div>                     
                    </mat-selection-list>
                    <h5><b>Analysis Required (Please request necessary analysis only)</b></h5>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="gaanalysis1.invalid && (gaanalysis1.dirty || gaanalysis1.touched)" class="alert alert-danger">
                                <div *ngIf="gaanalysis1.errors.required">
                                    No of analysis is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="No of analysis required (Please specify the required poisons)"
                            name="gaanalysis" type="text" [(ngModel)]="form.gaanalysis" required #gaanalysis1="ngModel">
                        </mat-form-field>
                      </div>
                    </div>
                    <h5><b>Chain of Custody</b></h5>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="gadate1.invalid && (gadate1.dirty || gadate1.touched)" class="alert alert-danger">
                                <div *ngIf="gadate1.errors.required">
                                    Samples Deliver Date is required.
                                </div>
                              </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div *ngIf="gatime1.invalid && (gatime1.dirty || gatime1.touched)" class="alert alert-danger">
                                <div *ngIf="gatime1.errors.required">
                                    Samples Deliver Time is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="Samples Deliver Date" name="gadate" type="date" [(ngModel)]="form.gadate" required #gadate1="ngModel"> 
                        </mat-form-field>
                      </div>                      
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="Samples Deliver Time" name="gatime" type="time" [(ngModel)]="form.gatime" required #gatime1="ngModel">
                          <mat-hint>Hint: Press 'A' for AM and 'P' for PM for the last two digits </mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3><b>MRI</b></h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="mrirefnum1.invalid && (mrirefnum1.dirty || mrirefnum1.touched)" class="alert alert-danger">
                                <div *ngIf="mrirefnum1.errors.required">
                                    Reference Number is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="Reference Number" name="mrirefnum" type="text" [(ngModel)]="form.mrirefnum" required #mrirefnum1="ngModel">
                        </mat-form-field>
                      </div>
                    </div>
                    <h5><b>List of Specimens</b></h5>
                    <p>
                      Number of specimens submitted: {{specimen2.selectedOptions.selected.length}}
                    </p>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="selectedOptions21.invalid && (selectedOptions21.dirty || selectedOptions21.touched)" class="alert alert-danger">
                                <div *ngIf="selectedOptions21.errors.required">
                                    A specimen is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    
                    <mat-selection-list name="selectedOptions2" #specimen2 [(ngModel)]="selectedOptions2" (ngModelChange)="onNgModelChange($event)" required #selectedOptions21="ngModel">
                      <div class="row">                          
                        <div class="col-md-4">
                          <mat-list-option *ngFor="let ga of sp1" [value]="ga.name">{{ga.name}}</mat-list-option>
                        </div>
                        <div class="col-md-4">
                          <mat-list-option *ngFor="let ga of sp2" [value]="ga.name">{{ga.name}}</mat-list-option>
                        </div>
                        <div class="col-md-4">
                          <mat-list-option *ngFor="let ga of sp3" [value]="ga.name">{{ga.name}}</mat-list-option>
                        </div>
                      </div>                     
                    </mat-selection-list>
                    <h5><b>Analysis Required (Please request necessary analysis only)</b></h5>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="mrianalysis1.invalid && (mrianalysis1.dirty || mrianalysis1.touched)" class="alert alert-danger">
                                <div *ngIf="mrianalysis1.errors.required">
                                    No of analysis is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="No of analysis required (Please specify the required poisons)"
                            name="mrianalysis" type="text" [(ngModel)]="form.mrianalysis" required #mrianalysis1="ngModel">
                        </mat-form-field>
                      </div>
                    </div>
                    <h5><b>Chain of Custody</b></h5>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="mridate1.invalid && (mridate1.dirty || mridate1.touched)" class="alert alert-danger">
                                <div *ngIf="mridate1.errors.required">
                                    Samples Deliver Date is required.
                                </div>
                              </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div *ngIf="mritime1.invalid && (mritime1.dirty || mritime1.touched)" class="alert alert-danger">
                                <div *ngIf="mritime1.errors.required">
                                    Samples Deliver Time is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="Samples Deliver Date" name="mridate" type="date" [(ngModel)]="form.mridate" required #mridate1="ngModel">
                        </mat-form-field>
                      </div>                      
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="Samples Deliver Time" name="mritime" type="time" [(ngModel)]="form.mritime" required #mritime1="ngModel">
                          <mat-hint>Hint: Press 'A' for AM and 'P' for PM for the last two digits </mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3><b>Other</b></h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="otherrefnum1.invalid && (otherrefnum1.dirty || otherrefnum1.touched)" class="alert alert-danger">
                                <div *ngIf="otherrefnum1.errors.required">
                                    Reference Number is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="Reference Number" type="text" name="otherrefnum" [(ngModel)]="form.otherrefnum" required #otherrefnum1="ngModel">
                        </mat-form-field>
                      </div>
                    </div>
                    <h5><b>List of Specimens</b></h5>
                    <p>
                      Number of specimens submitted: {{specimen3.selectedOptions.selected.length}}
                    </p>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="selectedOptions31.invalid && (selectedOptions31.dirty || selectedOptions31.touched)" class="alert alert-danger">
                                <div *ngIf="selectedOptions31.errors.required">
                                    A specimen is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    
                    <mat-selection-list name="selectedOptions3" #specimen3 [(ngModel)]="selectedOptions3" (ngModelChange)="onNgModelChange($event)" required #selectedOptions31="ngModel">
                      <div class="row">                          
                        <div class="col-md-4">
                          <mat-list-option *ngFor="let ga of sp1" [value]="ga.name">{{ga.name}}</mat-list-option>
                        </div>
                        <div class="col-md-4">
                          <mat-list-option *ngFor="let ga of sp2" [value]="ga.name">{{ga.name}}</mat-list-option>
                        </div>
                        <div class="col-md-4">
                          <mat-list-option *ngFor="let ga of sp3" [value]="ga.name">{{ga.name}}</mat-list-option>
                        </div>
                      </div>                     
                    </mat-selection-list>
                    <h5><b>Analysis Required (Please request necessary analysis only)</b></h5>
                    <div class="row">
                        <div class="col-md-3">
                            <div *ngIf="otheranalysis1.invalid && (otheranalysis1.dirty || otheranalysis1.touched)" class="alert alert-danger">
                                <div *ngIf="otheranalysis1.errors.required">
                                    No of analysis is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="No of analysis required (Please specify the required poisons)"
                            name="otheranalysis" type="text" [(ngModel)]="form.otheranalysis" required #otheranalysis1="ngModel">
                        </mat-form-field>
                      </div>
                    </div>
                    <h5><b>Chain of Custody</b></h5>
                    <div class="row">
                        <div class="col-md-3">                          
                          <div *ngIf="otherdate1.invalid && (otherdate1.dirty || otherdate1.touched)" class="alert alert-danger">
                            <div *ngIf="otherdate1.errors.required">
                                Samples Deliver Date is required.
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div *ngIf="othertime1.invalid && (othertime1.dirty || othertime1.touched)" class="alert alert-danger">
                                <div *ngIf="othertime1.errors.required">
                                    Samples Deliver Time is required.
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="Samples Deliver Date" name="otherdate" type="date" [(ngModel)]="form.otherdate" required #otherdate1="ngModel">
                        </mat-form-field>
                      </div>                      
                      <div class="col-md-3">
                        <mat-form-field class="example-full-width" >
                          <input matInput placeholder="Samples Deliver Time" name="othertime" type="time" [(ngModel)]="form.othertime" required #othertime1="ngModel">
                          <mat-hint>Hint: Press 'A' for AM and 'P' for PM for the last two digits </mat-hint>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <button mat-button matStepperPrevious class="btn btn-default" style="background-color: #e6e9e9; color:black">Back</button>              
                  <button mat-button (click)="stepper.reset()" class="btn btn-default" style="background-color: #e6e9e9; color:black">Reset</button>                
                  <button type="submit"  style="background-color: #25393b" class="btn pull-right" [disabled]="!firstFormGroup.valid || !secondFormGroup.valid || !thirdFormGroup.valid || !fourthFormGroup.valid || !fifthFormGroup.valid">submit</button>
                </div>
              </form>
            </mat-step>
            <!-- <mat-step [stepControl]="secondFormGroup">
              
              <ng-template matStepLabel>Done</ng-template>
              [disabled]="!firstFormGroup.valid && !secondFormGroup.valid && !thirdFormGroup.valid && !fourthFormGroup.valid && !fifthFormGroup.valid"
              <div class="row">
                <button mat-button matStepperPrevious class="btn btn-danger ">Back</button>                
                <button mat-button (click)="stepper.reset()" class="btn btn-danger">Reset</button>                
                <button type="submit" style="background-color: green;" class="btn pull-right">submit</button>
              </div>
            </mat-step> -->
          </mat-horizontal-stepper>
        </div>

      </div>
    </div>
  </div>
</div>