::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color:  rgb(241, 0, 0); 
    
 }
.btn {
    margin-right: 16px;
}

::ng-deep.mat-pseudo-checkbox-checked{
    background-color:  rgb(241, 0, 0); 
  }
