
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete profile</p>
                  </div>
                  <div class="card-header">
                        <div class="row">
                          <div class="col-md-12">
                            <h5>Full Name : </h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h5>NIC Number : </h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h5>Sex : </h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h5>Email : </h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h5>Adress : </h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h5>Telephone : </h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h5>Starting Date : </h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h5>User Type: </h5>
                          </div>
                        </div>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Delete Profile</button>
                     
                  </div>
              </div>
          </div>
          <div class="col-md-3" style="padding-top:2% ;">
            <div class="card card-profile"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <div class="card-avatar">
                <img class="img" style="width:100px;height: 100px;border-radius: 50%;" src="./assets/img/cover.jpeg" />
              </div>
              <div class="card-body">
                <h5 class="card-title">tharindu vindula</h5>
                <p class="card-text">0717615678<br>
                  tharinduvindula@gmail.com<br>
                  2019/04/20</p>
              </div>
            </div>
          </div>
      </div>
  </div>

