/* You can add global styles to this file, and also import other style files */
.raphael-group-22-creditgroup{
     display: none;
}

.raphael-group-308-creditgroup {
     display: none;
}

.raphael-group-1781-creditgroup{
     display: none;
}


.raphael-group-418-creditgroup {
     display: none;
}

.raphael-group-21-creditgroup {
     display: none;
}

.raphael-group-627-creditgroup {
     display: none;
}

.raphael-group-418-creditgroup {
     display: none;
}
