<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Demonstrator Registration Form</h4>
              <p class="card-category">Complete the following details</p>
            </div>
          <div class="card-body">

            <form (submit)="AddDemo($event)">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Full Name" type="text" [(ngModel)]="fullname" [ngModelOptions]="{standalone: true}" required>
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" type="text" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" required>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="NIC" type="text" [(ngModel)]="nic" [ngModelOptions]="{standalone: true}" required>
                      <mat-icon matSuffix>credit_card</mat-icon>
                    </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address" type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" required>
                    <mat-icon matSuffix>location_on</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contact Number" type="tel" [(ngModel)]="contactNumber" [ngModelOptions]="{standalone: true}" required>
                    <mat-icon matSuffix>phone</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email Address" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
                    <mat-icon matSuffix>lock</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="User Type:" value="Demonstrator" disabled>
                      <mat-icon matSuffix>verified_user</mat-icon>
                    </mat-form-field>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="startdatepicker" [(ngModel)]="startdate" [ngModelOptions]="{standalone: true}" placeholder="Start Date">
                      <mat-datepicker-toggle matSuffix [for]="startdatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #startdatepicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="enddatepicker" [(ngModel)]="enddate" [ngModelOptions]="{standalone: true}" placeholder="End Date">
                      <mat-datepicker-toggle matSuffix [for]="enddatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #enddatepicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="User Photograph" disabled>
                          <mat-icon matSuffix>photo</mat-icon>
                        </mat-form-field>
                        <div class="col-md-3">
                          <mat-radio-group [(ngModel)]="photo" [ngModelOptions]="{standalone: true}">                                          
                              <mat-radio-button value="yes">Yes</mat-radio-button>
                              <mat-radio-button value="no">No</mat-radio-button>  
                          </mat-radio-group> 
                        </div>                                     
                    </div>
                </div>

              <button class="btn btn-danger pull-right">Register Demonstrator</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
